html
  head
    title MongoDb Demo
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/css/main.css')
  body
    header#header
      .inner
        a.logo(href='index.html') MongoDb Demo
        nav#nav
          a(href='index.html') Home
          | |
          a(href='generic.html') Generic
          | |
          a(href='elements.html') Elements
        a.navPanelToggle(href='#navPanel')
          span.fa.fa-bars
    section#banner
      h1= message
      p A free responsive HTML5 website template by TEMPLATED.
    section#one.wrapper
      .inner
        .flex.flex-3
          article
            header
              h3
                | Magna tempus sed amet
                br
                |  aliquam veroeros
            p
              | Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.
            footer
              a.button.special(href='#') More
          article
            header
              h3
                | Interdum lorem pulvinar
                br
                |  adipiscing vitae
            p
              | Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.
            footer
              a.button.special(href='#') More
          article
            header
              h3
                | Libero purus magna sapien
                br
                |  sed ullamcorper
            p
              | Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu.
            footer
              a.button.special(href='#') More
    section#two.wrapper.style1.special
      .inner
        header
          h2 Ipsum Feugiat
          p Semper suscipit posuere apede
        .flex.flex-4
          .box.person
            .image.round
              img(src='images/pic03.jpg', alt='Person 1')
            h3 Magna
            p Cipdum dolor
          .box.person
            .image.round
              img(src='images/pic04.jpg', alt='Person 2')
            h3 Ipsum
            p Vestibulum comm
          .box.person
            .image.round
              img(src='images/pic05.jpg', alt='Person 3')
            h3 Tempus
            p Fusce pellentes
          .box.person
            .image.round
              img(src='images/pic06.jpg', alt='Person 4')
            h3 Dolore
            p Praesent placer
    section#three.wrapper.special
      .inner
        header.align-center
          h2 Nunc Dignissim
          p Aliquam erat volutpat nam dui
        .flex.flex-2
          article
            .image.fit
              img(src='images/pic01.jpg', alt='Pic 01')
            header
              h3 Praesent placerat magna
            p
              | Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor lorem ipsum.
            footer
              a.button.special(href='#') More
          article
            .image.fit
              img(src='images/pic02.jpg', alt='Pic 02')
            header
              h3 Fusce pellentesque tempus
            p
              | Sed adipiscing ornare risus. Morbi est est, blandit sit amet, sagittis vel, euismod vel, velit. Pellentesque egestas sem. Suspendisse commodo ullamcorper magna non comodo sodales tempus.
            footer
              a.button.special(href='#') More
    footer#footer
      .inner
        .flex
          .copyright
            | &copy; Untitled. Design:
            a(href='https://templated.co') TEMPLATED
            | . Images:
            a(href='https://unsplash.com') Unsplash
            | .
          ul.icons
            li
              a.icon.fa-facebook(href='#')
                span.label Facebook
            li
              a.icon.fa-twitter(href='#')
                span.label Twitter
            li
              a.icon.fa-linkedin(href='#')
                span.label linkedIn
            li
              a.icon.fa-pinterest-p(href='#')
                span.label Pinterest
            li
              a.icon.fa-vimeo(href='#')
                span.label Vimeo
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/skel.min.js')
    script(src='assets/js/util.js')
    script(src='assets/js/main.js')
